<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hacked By TurkHackTeam | Anka Red Team</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Iceland">
<style>
body { background-color: #000; margin: 0; padding: 0; color: #fff; }
.center { text-align: center; }
.banner { padding: 20px; }
footer { margin-top: 20px; font-family: 'Iceland', sans-serif; }
</style>
</head>
<body onclick="playAudio();">
<div class="center">
<div class="banner">
<img src="http://zonehmirrors.org/defaced/2021/01/27/wothoq.co/i.hizliresim.com/m9RCVr.png" alt="resim" />
</div>

<p>
<img src="http://zonehmirrors.org/defaced/2021/01/27/wothoq.co/i.hizliresim.com/jj1jmD.gif" width="300" height="23" style="margin-left:0px;" />
</p>

<h1 style="font-family: 'Iceland', serif; font-size: 2.5rem; color: #fff; margin: .2rem 0;">Hacked by</h1>
<h2 style="font-family: 'Iceland', serif; font-size: 2.5rem; color: red; margin: .2rem 0;"><b>By_pulsar, ArchieNNN, rC4K1R</b></h2>

<p>
<img src="http://zonehmirrors.org/defaced/2021/01/27/wothoq.co/i.hizliresim.com/jj1jmD.gif" width="300" height="23" style="margin-left:0px;" />
</p>

<p style="font-family: 'Iceland', serif; font-size: 1.25rem; color: #fff;">
Istedigimiz Zaman, Istedigimiz Yerde.!
</p>

<p>
<a style="text-decoration:none;" target="_blank" href="https://turkhackteam.org/" rel="noopener noreferrer">
<span style="font-family: 'Iceland', serif; font-size: 1.25rem; color: red;">[ Turkhackteam.org ]</span>
</a>
</p>

<!-- Audio (plays when the user clicks anywhere on the page) -->
<audio id="sec">
<source src="https://cdn.discordapp.com/attachments/1025874740847575164/1025875083190874212/mt-hani-gokboru-beat.mp3" type="audio/mpeg">
Your browser does not support the audio element.
</audio>

<script>
var x = document.getElementById("sec");
function playAudio() {
if (x && x.paused) {
x.play().catch(function(e) { console.warn('Autoplay prevented:', e); });
}
}
</script>

<!-- Footer removed as requested (handles moved into the main heading) -->
</div>
</body>
</html>
